* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

button {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    padding-top: 217px;
    padding-bottom: 32px;
    white-space: pre-line;
}

.top__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    color: #FFF;
    padding-bottom: 44px;
    white-space: pre-line;
}

.top__text_weight {
    font-weight: 700;
}

.top__button {
    background: #9C0332;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    transition: all .3s;
}

.top__button:hover {
    background: #EB443F;
}

.game-box {
    background: #000915;
}

.game {
    padding-top: 128px;
    padding-bottom: 128px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.game__item {
    position: relative;
    height: 300px;
    grid-column: span 4;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
}

.game__img {
    border-radius: 16px;
}

.game__img:hover {
    border: 3px solid #44D2FF;
}

.game__heading {
    position: absolute;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #FFF;
    bottom: 0;
    margin-left: 32px;
    margin-bottom: 32px;
}

.info {
    background: #000915;
    display: flex;
    align-items: center;
}

.info__item {
    padding-right: 135px;
    padding-top: 282px;
    padding-bottom: 282px;
}

.info__title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

.info__text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 32px;
}

.info__button {
    background: #9C0332;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    transition: all .3s;
}

.info__button:hover {
    background: #EB443F;
}

/* Адаптивная версия */

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
    }

    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 32px;
        text-align: center;
        padding-top: 238px;
    }

    .top__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-bottom: 32px;
    }

    .game-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game {
        grid-template-columns: repeat(4, 1fr);
    }

    .game__img {
        width: 100%;
    }

    .game__heading {
        margin-left: 16px;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
    }

    .info__item {
        padding-right: 0;
        text-align: center;
        padding-top: 51px;
        padding-bottom: 64px;
    }

    .info__title {
        font-size: 32px;
    }

    .info__text {
        font-size: 14px;
        line-height: 22px;
    }

    .info__imges {
        padding-bottom: 85px;
    }

    .info__img {
        width: 100%;
    }
}